{% extends "admin/app_list.html" %}
{% load i18n %}

{% block content %}
{{ block.super }}
<div class="app-theater module">
    <table>
        <caption>
            <a href="{% url 'admin:theater_statistics' %}" class="section">{% trans "Статистика театра" %}</a>
        </caption>
        <tbody>
            <tr>
                <th scope="row">
                    <a href="{% url 'admin:theater_statistics' %}">{% trans "Просмотр статистики" %}</a>
                </th>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %} 